.badan{
  
  background: #61dafb;
  background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
  background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;
	margin-bottom: 20px;

}
.badan h2{
	text-align: center;
	color: chartreuse;
	margin: auto;
	padding: 20px;
}
.content{
	background: -webkit-linear-gradient(to right,#2980B9, #6DD5FA, #FFFFFF);
  background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
	margin: auto;
	align-content: center;


}
table {
	border : none;
	border-collapse: collapse;
}
td{
	padding: 5px;
	border: none;
}
input[type=text]{
	margin-top: 30px;
	padding: 10px;
	width: 410px;
	border-style: solid;
	text-align: right;
	font-size: 16px;
}
input[type=text]:disabled{
	background-color: white;
}
.button {
	width: 100px;
	height: 40px;
	background-color: aqua ;
    border: none;
    color: black;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.operator{
		background-color: #555555;
}
.hapus{
	background-color: #f44336;;
}
.hasil{
	background-color: chartreuse;
	margin-bottom: 30px;
}